<div class="container">
    <div class="columns">
        <div class="column is-3 ">
            <aside class="menu is-hidden-mobile">
                <p class="menu-label">
                    Recipes
                </p>
                <ul class="menu-list">
                    <li><a href="/profile">View My Recipes</a></li>
                    <li><a>Add A New Recipe</a></li>
                    <li><a class="is-active">Edit A Recipe</a></li>
                </ul>
            </aside>
        </div>
        <div class="column is-10">
            <section class="hero is-info welcome is-small">
                <div class="hero-body">
                    <div class="container is-14">
                        <h1 class="title">
                            Hello, {{meal.user.username}}!
                        </h1>
                        <h2 class="subtitle">
                            Edit recipe below...
                        </h2>
                    </div>
                </div>
            </section>
            {{!-- form section begins here --}}
            <section class="section">
                <div class="container has-text-centered">
                    <h2 class="title">Recipe Details</h2>
                    <form class="new-meal-form">
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input id="meal-name" class="input" type="text" value="{{title}}" >
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <textarea id="meal-details" class="textarea" >{{description}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="checkBoxes">
                            <h2>What allergies or preferences?</h2>
                            <label class="checkbox" id="nutFreeCheckBox">
                                <input id="isNutFree" type="checkbox"{{#if isNutFree}}checked{{/if}}>
                                Nut Free(does not contain nuts)
                            </label>
                            <label class="checkbox" id="dairyFreeCheckBox">
                                <input id="isDairyFree" type="checkbox" {{#if isDairyFree}}checked{{/if}}>
                                Dairy Free(does not contain dairy)
                            </label>
                            <label class="checkbox" id="glutenFreeCheckBox">
                                <input id="isGlutenFree" type="checkbox" {{#if isGlutenFree}}checked{{/if}}>
                                Gluten Free(does not contain wheat)
                            </label>
                            <label class="checkbox" id="veganCheckBox">
                                <input id="isVegan" type="checkbox" {{#if isVegan}}checked{{/if}}>
                                Vegan(does not contain any animal products whatsoever)
                            </label>
                            <label class="checkbox" id="vegetarianCheckBox">
                                <input id="isVegetarian" type="checkbox" {{#if isVegetarian}}checked{{/if}}>
                                Vegetarian(no meat)
                            </label>
                            <label class="checkbox" id="pescatarianCheckBox">
                                <input id="isPescatarian" type="checkbox" {{#if isPescatarian}}checked{{/if}}>
                                Pescatarian(no meat other than fish)
                            </label>
                        </div>
                        {{!-- <div class="checkBoxes">
                            <h2>What allergies or preferences?</h2>
                            <label class="checkbox" id="nutFreeCheckBox">
                                <input id="isNutFree" type="checkbox">
                                Nut Free(does not contain nuts)
                            </label>
                            <label class="checkbox" id="dairyFreeCheckBox">
                                <input id="isDairyFree" type="checkbox">
                                Dairy Free(does not contain dairy)
                            </label>
                            <label class="checkbox" id="glutenFreeCheckBox">
                                <input id="isGlutenFree" type="checkbox">
                                Gluten Free(does not contain wheat)
                            </label>
                            <label class="checkbox" id="veganCheckBox">
                                <input id="isVegan" type="checkbox">
                                Vegan(does not contain any animal products whatsoever)
                            </label>
                            <label class="checkbox" id="vegetarianCheckBox">
                                <input id="isVegetarian" type="checkbox">
                                Vegetarian(no meat)
                            </label>
                            <label class="checkbox" id="pescatarianCheckBox">
                                <input id="isPescatarian" type="checkbox">
                                Pescatarian(no meat other than fish)
                            </label>
                        </div> --}}
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-primary" id="updateMealBtn">Submit Recipe Edit!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            {{!-- form section ends here --}}
        </div>
    </div>
</div>

<script src="/public/js/editMeal.js"></script>