<!-- Loop over each object in the projects array -->
<div class="container">
  <div class="columns">
    <div class="column is-3">
      <aside class="menu is-hidden-mobile">
        <p class="menu-label">Allergies or Preferences</p>
        <ul class="menu-list" id="dietaryCriteria navMenu">
          <li><a id="viewAllButton" class="is-active">View All</a></li>
          <li><a><label for="dairyFreeCheckBox">Dairy Free</label> <span><input value="dairyFree" type="checkbox" id="dairyFreeCheckBox" name="is_dairy_free"></span></a></li>
          <li><a><label for="glutenFreeCheckBox">Gluten Free</label> <span><input type="checkbox" id="glutenFreeCheckBox" name="is_gluten_free"></span></a></li>
          <li><a><label for="nutFreeCheckBox">Nut Free</label> <span><input type="checkbox" id="nutFreeCheckBox" name="is_nut_free"></span></a></li>
          <li><a><label for="pescatarianCheckBox">Pescatarian</label> <span><input type="checkbox" id="pescatarianCheckBox" name="is_pescatarian"></span></a></li>
          <li><a><label for="veganCheckBox">Vegan</label> <span><input type="checkbox" id="veganCheckBox" name="is_vegan"></span></a></li>
          <li><a><label for="vegetarianCheckBox">Vegetarian</label> <span><input type="checkbox" id="vegetarianCheckBox" name="is_vegetarian"></span></a></li>
        </ul>
        <input class="button" id="preferencesBtn" type="submit" value="Find meals">
      </aside>
    </div>
    <div class="column is-10">
      <section class="hero is-info welcome is-small">
        <div class="centerText hero-body">
          <div class="container is-14">
            {{!-- <h1 class="title">Hello, (UserNameHere).</h1>
            <h2 class="subtitle">I hope you are having a great day!</h2> --}}
            <h1 class="title">These are the Recipes for Success!</h1>
          </div>
        </div>
      </section>
      <div class="columns">
        <div class="column is-12">
          <div class="card events-card">
            <header class="centerText card-header">
              <p class="centerText card-header-title noFlex">Meals with your preferences</p>
              </a>
            </header>
            <div class="container">
              {{#each meals as |meal|}}
              <div class="section allView">                
                <div id="app" class="row">                  
                  <div v-for="card in cardData" key="card.id" class="column">
                    <div class="card large">
                      <div class="card-image">
                      </div>
                      <div class="card-content">
                        <div class="media">
                          <div class="media-content">
                            <p class="title is-4 no-padding"><a href="/meal/{{meal.id}}"> {{meal.title}} </a></p>
                          </div>
                        </div>
                        <div class="content">
                          {{meal.description}}
                          <div class="background-icon"><span class="icon-twitter"></span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                
              </div>
              {{/each}}
              {{!-- <footer class="card-footer">
                <a href="#" class="card-footer-item">View All</a>
              </footer> --}}
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../../js/filterMeals.js"></script>
<script src="../../js/cardsData.js"></script>
