<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{{description}}}</p>
  <p>Created by {{user.username}} 
  <p>
  {{#if isGlutenFree}}
    <p>Gluten Free</p>
  {{/if}}
  
  {{#if isNutFree}}
    <p>Nut Free</p>
  {{/if}}
  
  {{#if isVegan}}
    <p>Vegan</p>
  {{/if}}
  
  {{#if isDairyFree}}
    <p>Dairy Free</p>
  {{/if}}
  
  {{#if isPescatarian}}
    <p>Pescatarian</p>
  {{/if}}
  
  {{#if isVegetarian}}
    <p>Vegetarian</p>
  {{/if}}
  </p>
  {{!-- <p>
    <button class="btn btn-primary">Fund this Project!</button>
  </p> --}}
</div>
