<div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        Recipes
                    </p>
                    <ul class="menu-list">
                        <li><a class="is-active" href="/profile">View My Recipes</a></li>
                        <li><a href="/addARecipe">Add A New Recipe</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <section class="hero is-info welcome is-small">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title">
                                Hello, The Recipe for Success User!
                            </h1>
                            <h2 class="subtitle">
                                View your recipes here!
                            </h2>
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
    </div>