header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

.allView {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* max-height: 0px; */
  /* margin-bottom: 15px; */
  margin-left: -0px;
  margin-top: -50px;
  margin-bottom: -100px;
}

/* .column {
  padding: 1.5rem;
  margin: 0px;
}

.columns {
  padding: 0px;
  margin: 0px;
} */

.card {
  padding: 0px;
  margin: 0px;
}

.left {
  padding: 1.5rem;
}

.right {
  padding: 1.5rem;
}

.colorLightBlue {
  color:#1b89bc;
}

#colorRed {
  background-color: #bc1b49;
  /* color: #bc1b49; */
}

.cardMargin {
  margin-right: 2px;
}